<%- include ("./templates/_header") %>

<p class="text-center"> Seleccione su manera preferida de aprender </p>
<div class="container">
  <div class = "col-md">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <!-- A partir de aqui hace funcionar el boton-->
          <form action="/quizzes" method="get">
            <button class="btn btn-primary" type="submit">
              Quizzes
            </button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        <!-- A partir de aqui hace funcionar el boton-->
          <form action="/flash-cards" method="get">
            <button class="btn btn-primary" type="submit">
            Flash Cards
            </button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <!-- A partir de aqui hace funcionar el boton-->
          <form action="/login" method="get">
            <button class="btn btn-primary" type="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ("./templates/_footer") %>