<%- include ("./templates/_header") %>

<p class="text-center"> Seleccione la categoría de flash cards que más le interese</p>
<div class="container">

<div class = "col-md">

<div class="col-md-5">
   <div class="card">
     <div class="card-body">
      <!-- A partir de aqui hace funcionar el boton-->
      <form action="/add" method="post">
       <button class="btn btn-primary" type="submit">
       Verbos
       </button>
      </form>
     </div>
   </div>
   <div class="card">
    <div class="card-body">
     <!-- A partir de aqui hace funcionar el boton-->
     <form action="/add" method="post">
       <button class="btn btn-primary" type="submit">
       Elementos del hogar
       </button>
     </form>
    </div>
  </div>
</div>

</div>

</div>

</div>

<%- include ("./templates/_footer") %>