<%- include ("./templates/_header") %>
<p class="text-center"> Bienvenidos </p>
<div class="container">
  <div class = "col-md">
    <% if (dataErr) { %>
      <h4><%= dataErr.message %></h4>
    <% } %>
  </div>
  <div class = "col-md">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <!-- A partir de aqui hace funcionar el boton-->
            <form action="/login" method="post">
              <div>
                <label for="email"> Correo electronico </label>
                <input id="email" name="email" type="text" placeholder="Correo electronico"/>
              </div>
  
              <div>
                <label for="password"> Contraseña </label>
                <input id="password" name="password" type="text" placeholder="Contraseña"/>
              </div>
              
              <button class="btn btn-primary" type="submit">
                Log in
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <!-- A partir de aqui hace funcionar el boton-->
            <form action="/signup" method="post">
              <div>
                <label for="name"> Nombre </label>
                <input id="name" name="name" type="text" placeholder="Contraseña"/>
              </div>
    
              <div>
                <label for="email"> Correo electronico </label>
                <input id="email" name="email" type="text" placeholder="Correo electronico"/>
              </div>
    
              <div>
                <label for="password"> Contraseña </label>
                <input id="password" name="password" type="text" placeholder="Contraseña"/>
              </div>
              
              <button class="btn btn-primary" type="submit">
                Sign up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include ("./templates/_footer") %>
