<%- include ("./templates/_header") %>

<p class="text-center"> Bienvenidos </p>
<div class="container">
  <div class = "col-md">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <!-- A partir de aqui hace funcionar el boton-->
          <form action="/aprendizaje" method="get">
            <button class="btn btn-primary" type="submit">
              Log in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ("./templates/_footer") %>
