<%- include ("./templates/_header") %>

<h1 class="text-center">Resultados</h1>
<p class="text-center"> ¡Gracias por aprender! </p>
<div class="container">
  <div class = "col-md">
      <div class="card">
        <div class="card-body">
          <h3>Tu puntaje obtenido es:</h3>  
          <h5><%= puntajeObtenido%> / 100</h5>
        </div>
      </div>
  </div>
</div>
<%- include ("./templates/_footer") %>

<style>
  h1, h3, h5{
    padding: 10px;
    text-align: center;
  }

  .col-md {
    display: flex;
    justify-content: center;
  }

  .col-md .card{ 
    background-color: #d9cae7;
    border-color: #d9cae7;
  }
</style>