<%- include ("./templates/_header") %>

<p class="text-center"> Gracias por aprender, estos son tus resultados: </p>
<div class="container">
  <div class = "col-md">
    <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                  <p><%= puntajeObtenido%> / 100</p>
              </div>
            </div>
    </div>
  </div>
</div>
<%- include ("./templates/_footer") %>
